
.non-wide {
    max-width: 400px;
    max-height: 200px;
}

.like-container {
    position: relative;
    display: inline-block;
}

.like-btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    color: #444;
    text-decoration: none;
}

.emoji-container {
    position: absolute;
    top: -50px;
    left: 0;
    width: 160px;
    display: none;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    z-index: 1;
}

.emoji-container a {
    margin-right: 8px;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

#hello {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.edit-btn {
    font-size: 0.8rem;
}

.btn-blight-soft {
    color: #54cbff;
    background-color: rgba(79, 158, 248, 0.1);
    font-size: 0.8rem;

}

.btn-blight-soft:active, .btn-blight-soft:hover, .btn-blight-soft:focus {
    color: white !important;
    background-color: #54cbff !important;
    border-color: #b9d9ff !important;
}

.card-img {
    max-width: 450px;
    max-height: 4500px;
}

tr:hover {
    background-color: black ! important;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    grid-gap: 10px;
    grid-auto-rows: 200px;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}