{% extends 'sub_main.html' %}
{% block tab %}
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h5 class="card-title"> {% if request.path.endswith('following') %}People you follow:{% else %}People
                following you:{% endif %}</h5>
        </div>
        <div class="card-body">
            {% for follower in users %}
                <div class="d-md-flex align-items-center mb-4">
                    <!-- Avatar -->
                    <div class="avatar me-3 mb-3 mb-md-0">
                        <a href="#!"> <img class="avatar-img rounded-circle"
                                           src="{{ url_for('static', filename='uploads/' + follower.avatar) if follower.avatar else follower.avatar_alt(35) }}"
                                           alt="avatar">
                        </a>
                    </div>
                    <div class="w-100">
                        <div class="d-sm-flex align-items-start">
                            <h6 class="mb-0"><a
                                    href="{{ url_for('main.user', username=follower.username) }}">{{ follower.username }} </a>
                            </h6>
                            {% if follower.about_me %}
                                <p class="small ms-sm-2 mb-0">{{ follower.about_me }}</p>
                            {% endif %}
                        </div>

                    </div>
                    <!-- Button -->
                    <div class="ms-md-auto d-flex">
                        {% if not current_user.is_following(follower) %}
                            <form action="{{ url_for('main.follow', username=follower.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(class_='btn btn-success-soft btn-sm mb-0 me-2', value=_('Follow'), type='submit') }}
                            </form>
                        {% else %}
                            <form action="{{ url_for('main.unfollow', username=follower.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(class_='btn btn-danger-soft btn-sm mb-0 me-2', value=_('Unfollow'), type='submit') }}
                            </form>
                        {% endif %}
                        <button class="btn btn-primary-soft btn-sm mb-0"> Message</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
