{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-lg-3">
                {% include '_user_card.html' %}
            </div>
            <div class="col-md-8 col-lg-6 gap-4 vstack">
                <div class="card">
                {% if messages %}
                    <table class="table table-borderless" id="message-table">
                        {% for post in messages %}
                            {% include "_messages.html" %}
                        {% endfor %}
                    </table>
                {% else %}
                <h4>You dont have a single conversation. Start the first by messaging people you're <a href="{{ url_for('bp.user', username=current_user.username, relation='following') }}">interested in</a></h4>
                {% endif %}
                </div>
                <div class="text-center">
                </div>
            </div>
            <button id="load-more-btn" {% if next_url == none %} style="display: none;"   {% endif %}
                    data-next-url="{{ next_url|safe }}" class="btn btn-primary">Load More
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let nextUrl = $('#load-more-btn').data('next-url');
            $('#load-more-btn').click(function () {
                $.ajax({
                    url: nextUrl,
                    success: function (data) {
                        let newRows = $(data).find('#message-table tr');
                        // Convert the Flask-Moment timestamp to a human-readable format
                        newRows.find('.flask-moment').each(function () {
                            let timestamp = $(this).data('timestamp');
                            let humanReadable = moment(timestamp).fromNow();
                            $(this).text(humanReadable).removeClass('flask-moment').show();
                        });
                        $('#message-table').append(newRows);
                        {#$('#message-table').append($(data).find('#message-table tr'));#}
                        nextUrl = $(data).find('#load-more-btn').data('next-url');
                        if (nextUrl === 'None') {
                            $('#load-more-btn').hide();
                        }
                    }
                });
            });

            // When the user scrolls to the bottom of the page, load the next batch of messages
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                    $('#load-more-btn').click();
                }
            });
        });
    </script>
{% endblock %}
